/* Inserta tu codigo aqui */
*{
	font-family: 'Open Sans', sans-serif;
}

header{
	background-color: #1B1821;
	width: 100%;
	padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 3.5%;
}
header img{
	width: 65%;
}
header a{
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
section{
	background-color: #2D2735;
}


.content{
	   display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contenido{
	   display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.principal{
	background-image: url(../image/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 431px;
    width: 100%;
}
.opacidad{
	background-color: #1B1821;
	    margin: 10% 19.5%;
    text-align: center;
}

.opacidad p{
		color: white;
	    padding-bottom: 5.5%;
	    font-family: 'Open Sans', sans-serif;
}
.opacidad h1{
	font-family: Courgette;
	font-size: 5em;
	color: #F5BA68;
	padding-top: 5%;
    padding-bottom: 3%;
}

span{
	padding-left: 2%;
	padding-right: 2%;
}

.col-4 img{
	width: 96.5%;
}

.descripcion{
	background-color: black;
	width: 96.5%;
	height: 100px;
	margin-top: -2%;

}
.bg-purple{
	background-color: #2D2735;
}
.bg-black{
	background-color: #1B1821;
}
.text-white{
	color: white;
}

.pd-3{
	padding: 3%;
}

.pd-5{
	padding: 5%;
}

.content .col-4 h3{
	color: #F6B96C;
	font-family: Courgette;
	padding-top: 6%;
}
.content .col-4 p{
	color: white;
	padding-top: 2%;
}

.article h3{
	padding-top: 10px;
}

.article p{
	padding: 10px;
}

.search{
	display: block;
	margin: auto;
	border: none;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 1rem;
}

.about-me{
	margin-top: 10px;
}

.icono{
	height: 35px;
	width: 35px;
	border-radius: 100%;
	text-align: center;
	padding-top: 6px;
	display: inline-block;
	color: white;
}

iframe{
	width: 100%;
	height: 350px;
}
.text-center{
	text-align: center;
}

.w-100{
	width: 100%;
}

.section1 .col-5{
	height: 1039px;
	margin-right: 1%;
}
.section1 .col-7{
	margin-right: 2%;
}


/* Responsive */

@media screen and (max-width : 1225px) {
header{
	    padding-left: 0%;
	    padding-right: 0%;
}

#logo{
	    width: 17%;
}

.container{
	width: 100%;
}

#menu {
    float: inherit;
}
.content{
	padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 4%;
 
    display: inline-table;
}

.contenido{
	padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
}

.principal{
	height: 345px;
}
.opacidad{
	margin: 10% 6.5%;
}
.col-4, .col-7, .col-5{
		width: 100%;
	}
.col-5{
		display: none;
	}
.section1{
	padding-right: 4%;
}

}

@media screen and (max-width: 600px) {
header{
	    padding-left: 0%;
	    padding-right: 0%;
}

#logo{
	    width: 39%;
}

.container{
	width: 100%;
}

.col-4, .col-7, .col-5{
		width: 100%;
	}

	.bg-lirios{
	padding: 7%;
	}

.col-5 {
		display: none;
	}
}
